body {
    font-family: 'Roboto', serif;
    background-image: url('../img/PhotoMe.png');
    background-size: cover;
    max-height: 1000px;
    margin: 0;
    padding: 0;
    font-size: 16pt; 
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    position: sticky;
    top:0;
    background:#654ee6;
    border-bottom: 3px solid #654ee6;
}

h1{
    font-size: 1.5em;
    text-align: center;
    line-height: 2;
    color: #654ee6
  }

h3{
    font-size: 1.5em;
    text-align: center;
    line-height: 2;
    color: #ffffff
}
  
h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
    color: #654ee6;
    text-align: center;

  }

h4 {
    padding: 0 30px;
    color: #ffffff;
    text-align: center;

}
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }


  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:hover, a:focus{
    color: #E4D01D;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

  .pricing{
    min-height: 475px;
  }

  .card {
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 25px 0;
  
  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  .card_big{
    -webkit-transform: initial;
            transform: initial;
  }

  .gallery{
    min-height: 600px;
  }
  
  footer{
    background-color: #654ee6;
    color: white;
    padding: 20px;
    text-align: center;
  }


.nav_links:visited {
    color: inherit;
  }

.nav_links:link{
    display: flex;
    flex-direction: column;
    color:rgb(238, 165, 70);
}

.section1{
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

.container3{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px auto;
  justify-content: center;
}

img{
  border-radius: 10%;
}

.grid-container{
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto;
  grid-column: 1 / 4;
  background-color: #2196F3;
  padding: 10px;

}
